body {
  background-color: rgb(232 225 242);
  text-align: center;
}

h1 {
  padding: 20px;
  font-size: 62px;
  color: rgb(93 13 191);
}

h2 {
  padding: 30px;
  font-size: 30px;
}

.summary {
  margin-left: 160px;
  max-width: 40em;
  background-color: rgb(93 13 191);
  color: white;
  border-radius: 20px;
}

ul {
  list-style-type: disc;
}

a {
  color: white;
}
